.title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row !important;
  gap: 0rem 1rem !important;
  text-transform: uppercase;

  .word {
    display: flex;

    .letter {
      overflow: hidden;
    }
  }
}
