.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 10lvh 5lvw;
  overflow: hidden;
  max-width: 120rem;
  margin: 0 auto;

  .project {
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-basis: 25rem;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: auto;
    }
  }
}
