.gallery {
  padding: 5lvh 5lvw;
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5lvw;

  .container {
    position: relative;
    flex-grow: 1;
    flex-basis: 20rem;
  }
}
