.footer {
  background-color: #000;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;

  .main {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10lvh 5lvw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10rem;

    .hello {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      gap: 2rem;

      div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }

    .end {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      gap: 2rem;

      .inner {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
    }
  }
}
