.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100lvh;
  background-color: #f8f8f8;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;

  .main {
    display: flex;
    align-items: flex-end;
    max-width: 90rem;
    width: 100%;
    height: 100%;
    padding: 5lvh 5lvw;

    .links {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 2rem;
      width: 100%;
    }
  }
}
