.details {
  .img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100lvh;
    overflow: hidden;
  }

  .main {
    padding: 5lvh 5lvw;
    margin: 0 auto;
    max-width: 90rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5lvh;

    .col:nth-child(1) {
      flex-basis: calc(30% - 5lvh);
    }

    .col:nth-child(2) {
      flex-grow: 1;
      flex-basis: calc(70% - 5lvh);
      display: flex;
      flex-direction: column;
      gap: 5lvh;
    }
  }
}
